
/* Small devices (tablets) */
@media (min-width: 300px) and (max-width:991px){
    .header .menubar .flex {
        justify-content: space-between;
    }
    .header .right-header {
        text-align: center;
    }

    .header .menubar ul.navbar-item-left li a {
        font-size: 13px;
    }

    .header .theme-btn {
        padding: 5px 10px;
        margin-left: 10px;
        font-size: 12px;
        display: none;
    }
    .header .menubar.left {
        justify-content: space-between;
    }
    .banner-text {
        font-size: 26px;
        line-height: 40px;
        padding: 0 30px;
    }

    .theme-btn {
        padding: 10px 14px;
        display: block;
        margin: 0;
        width: fit-content;
    }
    .top-banner {
        padding: 30px 0;
    }
    .theme-btn-light {
        padding: 10px 14px;
    }
    .startup-sec .title{
        width: 100%;
    }

    
    .play-btn {
        height: 60px;
        width: 60px;
        top: 30%;
        left: 44%;
    }

    .title {
        font-size: 25px !important;
        line-height: 32px !important;
        margin-bottom: 0;
    }
    .para {
        margin-top: 20px;
    }
    .padding-sec {
        padding: 40px 0;
    }

    .padding-btn{
        margin-top: 10px;
    }

    .img-padding{
        margin-top: 30px;
    }
    .count-box{
        text-align: center;
    }
    .col-card {
        margin: 20px 30px;
        max-width: fit-content;
    }

    .sfg h3 {
        line-height: 30px;
        font-size: 25px;
        letter-spacing: 0;
    }

    .register-sec .title {
        font-size: 20px;
        text-align: center;
        line-height: 35px;
        margin-bottom: 30px !important;
    }

    .register-sec.dark-bg .w-70{
        width: 90%;
    }

    footer .footer-cols {
        padding-left: 0;
    }
    .f-logo {
        display: flex;
        align-items: center;
        gap: 30px;
    }
    .mobile-menu .navbar-nav .dropdown-menu {
        position: static;
        border: 0;
    }
    .mobile-menu img.logo-offcanvas {
        max-width: 230px;
    }

    .event-box {
        margin-bottom: 20px;
    }

    .showcase {
        height: 300px;
    }
    .showcase .content h5 {
        font-size: 22px;
        line-height: 28px;
        margin-bottom: 20px;
    }
    .showcase .content h3 {
        font-size: 24px;
    }
  
    .startup-sec .box-content .detail{
        align-items: center;
    }
    .startup-sec .box-content .detail .txt .details-sec , .startup-sec .box-content.third .detail .txt .details-sec{
        min-height: fit-content;
    }
    .about-content h1, .about-content h2, .about-content h3 {
        font-size: 25px !important;
    }
     .about-content h4, .about-content h5, .about-content h6{
        font-size: 18px !important;
    }
    .about-content p {
        font-size: 15px !important;
    }

    .contact-sec{
        padding: 30px 0 0 0;
    }
    .padding-right{
        padding-right: 0;
    }
    .contact-sec .register-btn{
        width: fit-content;
        
    }

    .startup-sec .box-content .detail {
        align-items: center;
        display: table;
        vertical-align: middle;
    }
    .startup-sec .box-content .detail  .txt {
        display: table-cell;
        padding-left: 10px;
        vertical-align: top;
    }
    footer .footer-list.flex li{
        display: table;
    }
    footer .footer-list.flex li span {
        display: table-cell;
        padding-left: 10px;
    }

    footer .footer-list li svg {
        font-size: 30px;
    }
    .col-card p{
        height: fit-content;
    }
   
}

/* Large devices (large desktops) */
@media (min-width: 992px) {
    
}

/* Extra large devices (extra large desktops) */
@media (min-width: 1200px) {
   
}

/* Extra extra large devices */
@media (min-width: 1400px) {
   
}