
/* Small devices (tablets) */
@media (min-width: 350px) and (max-width:991px){
    .header .menubar .flex {
        justify-content: space-between;
    }
    .header .right-header {
        text-align: center;
    }

    .header .menubar ul.navbar-item-left li a {
        font-size: 13px;
    }

    .header .theme-btn {
        padding: 5px 10px;
        margin-left: 10px;
        font-size: 12px;
        display: none;
    }
    .header .menubar.left {
        justify-content: space-between;
    }
    .banner-text {
        font-size: 26px;
        line-height: 40px;
        padding: 0 30px;
    }

    .theme-btn {
        padding: 10px 14px;
    }

    .play-btn {
        height: 60px;
        width: 60px;
        top: 30%;
        left: 44%;
    }

    .title {
        font-size: 25px;
    }

    .padding-sec {
        padding: 40px 0;
    }

    .padding-btn{
        margin-top: 10px;
    }

    .img-padding{
        margin-top: 30px;
    }
    .count-box{
        text-align: center;
    }
    .col-card {
        margin: 10px;
        max-width: fit-content;
    }

    .sfg h3 {
        line-height: 30px;
        font-size: 25px;
        letter-spacing: 0;
    }

    .register-sec .title {
        font-size: 20px;
        line-height: 35px;
    }

    .register-sec.dark-bg .w-70{
        width: 90%;
    }

    footer .footer-cols {
        padding-left: 0;
    }
    .f-logo {
        display: flex;
        align-items: center;
        gap: 30px;
    }
    .mobile-menu .navbar-nav .dropdown-menu {
        position: static;
        border: 0;
    }
    .mobile-menu img.logo-offcanvas {
        max-width: 230px;
    }

    .event-box {
        margin-bottom: 20px;
    }

    .showcase {
        height: 300px;
    }
    .showcase .content h5 {
        font-size: 22px;
        line-height: 28px;
        margin-bottom: 20px;
    }
    .showcase .content h3 {
        font-size: 24px;
    }
}

/* Large devices (large desktops) */
@media (min-width: 992px) {
    
}

/* Extra large devices (extra large desktops) */
@media (min-width: 1200px) {
   
}

/* Extra extra large devices */
@media (min-width: 1400px) {
   
}