
/* Small devices (tablets) */
@media (min-width: 350px) and (max-width:991px){
    .header .menubar .flex {
        justify-content: space-between;
    }
    .header .right-header {
        text-align: center;
    }

    .header .menubar ul.navbar-item-left li a {
        font-size: 13px;
    }

    .header .theme-btn {
        padding: 5px 10px;
        margin-left: 10px;
        font-size: 12px;
    }
    .header .menubar.left {
        justify-content: space-between;
    }
    .banner-text {
        font-size: 28px;
        line-height: 40px;
        padding: 0 30px;
    }

    .theme-btn {
        padding: 10px 14px;
    }

    .play-btn {
        height: 60px;
        width: 60px;
        top: 30%;
        left: 44%;
    }

    .title {
        font-size: 30px;
    }

    .padding-sec {
        padding: 40px 0;
    }

    .padding-btn{
        margin-top: 10px;
    }

    .img-padding{
        margin-top: 30px;
    }
    .count-box{
        text-align: center;
    }
    .col-card {
        margin: 10px;
        max-width: fit-content;
    }
}

/* Large devices (large desktops) */
@media (min-width: 992px) {
    
}

/* Extra large devices (extra large desktops) */
@media (min-width: 1200px) {
   
}

/* Extra extra large devices */
@media (min-width: 1400px) {
   
}