@import url('https://fonts.googleapis.com/css?family=Inter');
@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

:root {
    --light-blue: #F4F9FE;
    --dark-black: #18181B;
    --primary-blue: #003777;
    --bright-blue: #2563EB;

    /* --speaker-btn-primary : #FF8C5E;
    --speaker-btn-secondary : #FFB397; */
}


body {
    font-family: 'Inter';
}

.header {
    padding: 20px 0;
}
.header .navbar-nav .dropdown-menu {
    position: absolute;
    border: 0;
}
.mobile-menu .offcanvas-title {
    font-size: 20px;
    font-weight: 600;
    color: var(--primary-blue);
}

.mobile-menu .navbar-nav .dropdown-menu .dropdown-item {
    padding-bottom: 10px;
}
.mobile-menu .nav-item.show .nav-link {
    font-weight: 600;
}

.mobile-menu img.logo-offcanvas {
    max-width: 230px;
}
.header .logo-header {
    max-width: 200px;
}

.header .menubar {
    display: flex;
    align-items: center;
    padding: 0;
}

.header .menubar .navbar-nav .dropdown-menu {
    padding: 15px 0;
    border: 0;
}
.header .right-header {
    text-align: right;
}
.header .navbar-toggler{
    border: 0;
}
.header .menubar.left {
    justify-content: right;
}

.header .menubar ul.navbar-item {
    display: flex;
    list-style: none;
    margin: 0;
    padding: 0;
}

.header .menubar ul.navbar-item li {
    padding: 0 10px;
}

.header .menubar .flex {
    display: flex;
    align-items: center;
}

.header .menubar .container {
    display: block;
}

.header .menubar .navbar-item a {
    color: #000;
    text-decoration: none;
    font-weight: 600;
    font-size: 14px;
}

.header .menubar .navbar-item a:hover {
    color: var(--primary-blue);
}


/* .header .menubar .navbar-item .nav-item.dropdown:hover .dropdown-menu{
    display: block;
    opacity: 1;
    visibility: visible;
} */


.header .menubar .navbar-item a.dropdown-item {
    padding: 10px;

}

/* .header .menubar ul.navbar-item li a:hover::after {
    content: "";
    position: absolute;
    width: 20px;
    height: 3px;
    background-color: #003777;
    bottom: -7px;
    left: 7%;
} */
.header .menubar ul.navbar-item-left {
    display: flex;
    list-style: none;
    margin: 0;
    padding: 0;
}

.header .menubar ul.navbar-item-left li {
    padding: 0 10px;
}

.header .menubar ul.navbar-item-left li:not(:last-child) {
    border-right: 2px solid #000;
}

.header .menubar ul.navbar-item-left li a {
    color: #000;
    text-decoration: none;
    font-weight: 600;
    font-size: 14px;
}

.header .menubar ul.navbar-item-left li a svg {
    color: #a81a1a;
    margin-right: 5px;
    font-size: 16px;
}

.header .theme-btn {
    padding: 5px 10px;
}
.padding-btn{
    margin-top: 3rem;
}
.count-box{
    text-align: left;
}
.theme-btn {
    color: #fff;
    background: #003777;
    border: 2px solid #003777;
    padding: 10px 35px;
    border-radius: 10px;
    transition: 0.05s ease all;
    text-decoration: none;
}

.theme-btn.light-blue {
    background-color: var(--bright-blue);
    border-color: var(--bright-blue);
}

.theme-btn.light-blue:hover {
    color: var(--bright-blue);
    border-color: var(--bright-blue);
}

.theme-btn:hover {
    background: #fff;
    color: #003777;
    border: 2px solid #003777;
}

.theme-btn-light {
    background: #fff;
    color: #003777;
    border: 2px solid #003777;
    padding: 10px 35px;
    border-radius: 10px;
    transition: 0.05s ease all;
    text-decoration: none;
}

.theme-btn-light:hover {
    color: #fff;
    background: #003777;
    border: 2px solid #003777;
}

.theme-btn-light.light-border:hover {
    color: #fff;
    background: #003777;
    border: 2px solid #ffffff;
}

.top-banner {
    padding: 50px 0;
}

.subheading {
    color: #7a7a7a;
    font-size: 18px;
    margin-bottom: 20px;
}

.banner-text {
    color: #000;
    font-weight: 700;
    font-size: 50px;
    padding: 0 80px;
    margin-bottom: 40px;
}

.gradient {
    display: inline-block;
    background-image: url('../img/blur-bg.png');
    background-size: cover;
    background-position: center;
    margin-left: 5px;
}

.banner-btns {
    display: flex;
    justify-content: center;
    gap: 30px;
}

.banner-btns button svg {
    font-size: 24px;
}

.p-relative {
    position: relative;
}

.play-btn {
    position: absolute;
    background-image: url('../img/play.png');
    display: block;
    height: 100px;
    width: 100px;
    background-size: cover;
    top: 43%;
    left: 45%;
    cursor: pointer;
    animation: zoom-in-zoom-out 3s ease infinite;
}

@keyframes zoom-in-zoom-out {
    0% {
        transform: scale(1, 1);
    }

    50% {
        transform: scale(1.15, 1.15);
    }

    100% {
        transform: scale(1, 1);
    }
}

.play-btn:hover {
    transform: scale(1.1);
}

.video-area {
    background-repeat: no-repeat;
    display: inline-block;
    background-image: url('../img/gradient-bg.png');
    background-size: contain;
    background-position: center;
}

.video-modal .modal-content {
    background: transparent;
    border: 0;
}

.video-modal .modal-header {
    border: 0;
    padding: 0 1rem;
}

.video-modal .modal-header .btn-close {
    filter: invert(1);
    font-size: 20px;
    opacity: 1;
}

.modal-backdrop {
    --bs-backdrop-opacity: 0.8;
}

.light-bg {
    background-color: #F4F9FE;
}

.padding-sec {
    padding: 70px 0;
}

.title {
    font-size: 36px;
    font-weight: 600;
    line-height: 50px;
    margin-bottom: 20px;
}

.box svg,
.box img {
    color: #000;
    font-size: 40px;
    margin-bottom: 20px;
}

.box h4 {
    font-size: 24px;
    line-height: 28px;
    font-weight: 600;
}

.box p {
    color: #2563EB;
    font-size: 13px;
    font-weight: 600;
    line-height: 28px;
}

.counter-box {
    position: relative;
    display: inline-block;
    padding: 10px;
    border: 2px solid transparent;
    /* Transparent border to show the gradient */
    background: linear-gradient(white, white) padding-box,
        linear-gradient(98.24deg, #6DDCFF 0%, #7F60F9 100%) border-box;
    border-radius: 10px;
    /* Optional: Adjust based on your needs */
    width: 100%;
    height: 100%;
    align-content: center;
    text-align: center;
}

.count h3 {
    color: #003777;
    font-weight: 800;
    font-size: 50px;
}

.count p {
    background: #3B4353;
}

hr.gradient-line {
    border: none;
    height: 2px;
    background: linear-gradient(98.24deg, #6DDCFF 0%, #7F60F9 100%);
    margin: 20px 0;
    opacity: 1;
}

.count.border-right {
    border-right: 2px solid transparent;
    /* Transparent border to show the gradient */
    background: linear-gradient(white, white) padding-box, linear-gradient(100.24deg, #6DDCFF 95%, #7F60F9 100%) border-box
}

.para {
    font-family: Inter;
    font-size: 16px;
    font-weight: 400;
    line-height: 26px;
    text-align: justify;
}

.container-bg {
    background-color: var(--light-blue);
    /* width: Fill (1,920px)px; */
    /* height: 710px; */
    /* padding: 80px 120px ;
gap: 24px; */
    /* opacity: 0px; */

}

.col-card {
    background-color: #F1F5F9;

    box-shadow: 2px 4px 28px 0px #D5E3F1;
    border-radius: 20px;
    padding: 21px;

}

.col-card h3 {

    font-size: 23px;
    font-weight: 700;
    line-height: 32px;

    color: var(--primary-blue);
}

.col-card p {
    font-size: 14px;
    font-weight: 400;
    padding-right: 20px;
    line-height: 23px;
    height: 95px;
}

.margin-between {
    margin-right: 70px;
}

.yellow-bg {
    background: #FDE193;

}

.para-custom {
    color: #3B4353;
    font-size: 17px !important;
    line-height: 27px;
    margin-bottom: 20px;
}

.col-card2 {
    background-color: white;
    box-shadow: 2px 4px 28px 0px #D5E3F1;
    border-radius: 20px;
    padding: 10px 20px;
    font-family: "Poppins", sans-serif;
    margin-bottom: 20px;
}

.col-card2 p {
    color: var(--bright-blue);
    font-weight: 600;
    font-size: 23px;
    margin-bottom: 2px;
}

.col-card2 h4 {
    font-size: 21px;
    letter-spacing: 0px;
}

.check {
    font-size: 20px;
    color: var(--bright-blue);
}

.row-gap {
    gap: 60px;
}

.font-blue {
    color: var(--bright-blue);
}

.sfg {
    font-size: 24px;
    font-weight: 600;
    letter-spacing: -0.20000000298023224px;
}

.sfg h3 {
    line-height: 55px;
    font-size: 37px;
    margin-bottom: 30px;
}

.border-custom {
    position: relative;
    /* padding-bottom: 10px; Optional: Adjust padding based on your design */
}

.border-custom::after {
    content: "";
    position: absolute;
    left: 0;
    bottom: 0;
    width: 100%;
    height: 1.3px;
    /* Adjust this to change border thickness */
    background: linear-gradient(90deg, rgba(174, 174, 193, 0.8) 0%, rgba(82, 82, 91, 0.8) 47.5%, rgba(174, 174, 193, 0.8) 100%);
}


.outer-border {
    border-right: 1.2px solid #52525BCC;
    border-left: 1.2px solid #52525BCC;
    /* border: 0.69px solid #52525BCC */
}

.outer-border-startup {
    /* border-right: 1.2px solid #52525BCC; */
    border-left: 1.2px solid #52525BCC;
    /* border: 0.69px solid #52525BCC */
}

.dark-bg {
    background-color: var(--primary-blue);
}

.w-70 {
    width: 70%;
}

.nav-tabs-custom {
    border-bottom: 1px solid #e9ebec;

    .nav-item {
        position: relative;

        .nav-link {
            border: none;
            font-weight: 500;
            color: var(--dark-black);

            &::after {
                content: "";
                background: var(--bright-blue);
                height: 1px;
                position: absolute;
                width: 100%;
                left: 0;
                bottom: 0;
                transition: all 250ms ease 0s;
                transform: scale(0);
            }

            &.active {
                background: transparent;
                color: var(--bright-blue);

                &:after {
                    transform: scale(1);
                }
            }
        }
    }

    &.card-header-tabs {
        margin-top: -1rem;

        .nav-link {
            padding: 20px;
        }
    }
}


.bg-light {
    background: #F8FAFC !important;
    border: 1.2px solid #CBD5E1 !important
}

.f-13 {
    font-size: 13px;
}

.form-padding {
    padding: 0px 130px 0px 70px;

}

.f-15 {
    font-size: 15px;
}

.form-control {
    line-height: 2 !important;
    font-size: 14px;
}

.text-muted-grey {
    /* //styleName: Text md/Normal; */
    /* font-family: Inter; */
    font-size: 12px;
    font-weight: 400;
    line-height: 24px;
    text-align: left;
    color: #667085;


}

.form-img {
    max-height: 100vh;
    width: 100%;
    object-fit: cover;
    position: sticky;
    top: 0;
    object-position: bottom;
}


.register-btn {
    background-color: var(--primary-blue);
    color: white;
    padding: 10px 35px;
    width: 100%;
    border: 2px solid var(--primary-blue)
}

.register-bg {
    background: #F4FAFF;
}


.register-btn:hover,
.register-btn:active {
    background: #fff !important;
    color: #003777 !important;
    border: 2px solid #003777 !important;
}

.register-sec .title {
    font-weight: 600;
    font-size: 36px;
    line-height: 50px;
    margin-bottom: 39px;
}

.participant-sec .slick-slide img {
    display: block;
    padding: 30px 30px 15px 30px;
    max-height: 160px;
}

.participant-sec li button:before {
    font-size: 10px;
}

.participant-sec .slick-active button:before {
    color: #003777 !important;
    opacity: 1 !important;

}

footer {
    background-color: var(--light-blue);
    padding: 70px 0 40px 0;
    font-family: "Poppins", sans-serif;
}
footer .footer-logo{
    text-align: left;
}
footer .footer-logo img {
    max-width: 120px;
    margin-bottom: 30px;
}

footer .footer-text {
    color: #71717A;
    font-size: 14px;
}

footer .footer-cols {
    padding-left: 40px;
}

footer .footer-title h4 {
    color: #94A3B8;
    font-size: 16px;
    text-transform: uppercase;
    margin-bottom: 30px;
    font-weight: 600;
}

footer .footer-list {
    list-style: none;
    padding: 0;
}

footer .footer-list li {
    padding: 10px 0;
}

footer .footer-list li a,
footer .footer-list li {
    color: #090914;
    text-decoration: none;
    font-weight: 500;
    font-size: 14px;
    transition: 0.2s ease-in all;
}

footer .footer-list li a:hover {
    color: #2563EB;
}

footer .footer-list li svg {
    color: #003777;
    font-size: 30px;
}

footer .footer-list li img {
    max-width: 26px;
    filter: invert(13%) sepia(84%) saturate(2173%) hue-rotate(200deg) brightness(96%) contrast(101%);
}

footer .footer-list.flex li {
    /* display: flex;
    gap: 10px; */
    display: table;
}
footer .footer-list.flex li span{
    display: table-cell;
    padding-left: 10px;
}
footer hr {
    background-color: #E2E8F0;
    height: 2px;
}

footer .copyright p {
    font-size: 14px;
    color: #090914;
    text-align: center;
}

footer .copyright a {
    color: var(--bs-body-color);
    text-decoration: none;
}

footer .copyright a:hover {
    color: var(--primary-blue);
    text-decoration: none;
}

.gradeint-bg {
    background: linear-gradient(180deg, #e6f7ff -3%, rgba(255, 255, 255, 44%) 59%);
    background-size: cover;
    height: 100%;
}

.startup-sec .startup-banner {
    border-radius: 20px;
    margin-bottom: 50px;
}

.txt-blue {
    color: var(--bright-blue);
    font-size: 24px;
    font-weight: 600;
}

.startup-sec .flex {
    display: flex;
    gap: 20px;
    font-family: "Poppins", sans-serif;
}
.startup-sec .flex h6{
    margin-bottom:20px
}
.startup-sec .flex button {
    padding: 0;
    background-color: transparent;
    border: 0;
    height: fit-content;
}

.startup-sec .flex svg {

    font-size: 25px;
    fill: none;
    stroke: #646464;
    stroke-width: 1.5px;
    color: #57687D;
}

.startup-sec .box-content {
    padding: 20px 15px;
    background: #fff;
    border-radius: 12px;
    box-shadow: 2px 4px 8px #E5EEF0;
    min-height: fit-content;
    margin-bottom: 20px;
}
.startup-sec .box-content.third{
    min-height: fit-content;
}
.startup-sec .box-content.reviews {
    min-height: fit-content;
}

.startup-sec .box-content .box-title {
    font-size: 18px;
    margin-bottom: 20px;
    font-weight: 600;
    color: #000000;
}

.startup-sec .box-content.reviews .box-title {
    font-size: 14px;
}

.startup-sec .box-content.reviews .flex {
    display: flex;
    gap: 15px;
}

.startup-sec .box-content.reviews .flex .star {
    display: flex;
    font-size: 14px;
}

.startup-sec .box-content.reviews .flex .star svg {
    padding-left: 5px;
    font-size: 18px;
    fill: #FCD34D;
}

.startup-sec .box-content .detail {
    display: flex;
    gap: 10px;
}

.startup-sec .box-content .detail .txt .btns {
    display: flex;
    gap: 20px;
}

.startup-sec .box-content .detail .txt .btns .theme-btn,
.startup-sec .box-content .detail .txt .btns .theme-btn-light {
    font-size: 12px;
    padding: 6px 12px;
}

.startup-sec .box-content .detail {
    align-items: center;
    display: table;
    vertical-align: middle;
}
.startup-sec .box-content .detail  .txt {
    display: table-cell;
    padding-left: 10px;
    vertical-align: top;
    align-content: center;
}
.startup-sec .box-content .detail svg {
    font-size: 40px;
    background: #4AD2E433;
    padding: 5px;
    border-radius: 13px;
    color: #3F38DD;
}

.startup-sec .box-content .detail span svg {
    font-size: 16px;
    background: none;
    padding: 0;
    flex-basis: auto;
    height: auto;
    width: auto;
    border-radius: 13px;
    color: #3F38DD;
}

.startup-sec .box-content.reviews svg {
    font-size: 16px;
    background: none;
    padding: 0;
    flex-basis: auto;
    border-radius: 13px;
    color: #3F38DD;
}

.startup-sec .box-content.reviews .show svg {
    font-size: 16px;
    color: #5040A1;
    height: auto;
    width: auto;
    padding-left: 5px;
}

.startup-sec .box-content .detail img {
    background: #4AD2E433;
    padding: 10px;
    flex-basis: 25%;
    height: 40px;
    width: 40px;
    border-radius: 13px;
}

.startup-sec .box-content .detail img.no-bg {
    background: transparent;
    padding: 0;
   border-radius: 50%;
   border: 1.5px solid #e0e0e0;
}

.startup-sec .box-content .detail a {
    margin-top: 10px;
    color: #546BE2;
    border-bottom: 1px solid #546BE2;
    text-decoration: none;
}

.startup-sec .box-content.reviews .show-map {
    color: #5040A1;
    font-size: 13px;
    font-weight: 600;
    border-bottom: 0 solid #546BE2;
    text-decoration: none;
}

.startup-sec .box-content .detail .txt h6 {
    font-weight: 600;
    font-size: 16px;
}

.startup-sec .box-content .detail .txt .details-sec {
    align-content: center;
}
.startup-sec .box-content.third .detail .txt .details-sec {
    min-height: max-content;
}

.startup-sec .box-content .detail .txt p {
    font-size: 15px;
    margin-bottom: 0;
}

.detail-right h4 {
    font-weight: 600;
    margin-bottom: 20px;
}

.detail-right h6 {
    font-weight: 600;
}

.detail-right p {
    font-size: 16px;
    margin-bottom: 20px;

}


.css-13cymwt-control {
    background-color: #f7fafe !important;
   border-radius: 6px !important;
   border-width: 0px !important;
}
.tags h4 {
    font-weight: 600;
    margin: 50px 0 20px 0;
}

.tags .square {
    background: #F2F4F5;
    padding: 10px 15px;
    border-radius: 2px 0px 0px 0px;
    color: #3B4353;
    margin-right: 10px;
    font-size: 14px;
    border: 0;
}

.tags .round {
    background: #F2F4F5;
    padding: 10px 15px;
    border-radius: 30px;
    border: 0;
    color: #3B4353;
    margin-right: 10px;
    font-size: 14px;
}

p.big-btns {
    margin-top: 30px;
}

.tags p.big-btns .square {
    font-size: 16px;
}

.tags p.big-btns .square svg {
    margin-right: 10px;
    color: #2563EB;
}

.startup-sec .box-content .detail .txt .details-sec .star svg {
    font-size: 15px;
    background: transparent;
    padding: 5px;
    flex-basis: unset;
    height: auto;
    width: auto;
    border-radius: 13px;
    color: #f9d14d;
}

.startup-sec .box-content.reviews .detail .txt h6 {
    font-size: 14px;
}

.startup-sec .box-content.reviews .detail .txt .details-sec {
    min-height: auto;
    margin-bottom: 20px;
}

.startup-sec .box-content.reviews .comment {
    font-size: 14px;
}

.startup-sec .box-content.reviews .detail img {
    background-color: transparent;
    padding: 0;
}

.startup-sec .box-content.reviews .detail .social {
    margin: 20px 0;
    width: 100%;
    text-align: center;
}

.startup-sec .box-content.reviews .detail .social button {
    background-color: transparent;
    padding: 0;
    border: 0;
}

.startup-sec .box-content.reviews .detail .social svg {
    color: gray;
    margin: 0 20px;
    height: auto;
    width: auto;
    font-size: 25px;
    border-radius: 0;
}

.startup-sec .box-content.reviews .detail .label {
    padding: 10px;
    font-size: 18px;
    color: #111;
}

.startup-sec .box-content.reviews .copy-text {
    position: relative;
    padding: 0 0 0 10px;
    background: #fff;
    border: 1px solid #ddd;
    border-radius: 0;
    display: flex;
    justify-content: space-between;
}

.startup-sec .box-content.reviews .copy-text input.text {
    padding-right: 10px;
    font-size: 12px;
    color: #000;
    border: none;
    outline: none;
    width: 100%;
}

.startup-sec .box-content.reviews .copy-text button {
    padding: 5px 10px;
    background: #EBF4FF;
    color: #fff;
    font-size: 18px;
    border: none;
    outline: none;
    border-radius: 0;
    cursor: pointer;
}

.startup-sec .box-content.reviews .copy-text svg {
    font-size: 16px;
    background: none;
    padding: 0;
    flex-basis: auto;
    border-radius: 13px;
    color: #75757C;
}

.startup-sec .box-content.reviews .copy-text button:active {
    background: #809ce2;
}

.startup-sec .box-content.reviews .copy-text button:before {
    content: "Copied";
    position: absolute;
    top: -45px;
    right: 0px;
    background: #5c81dc;
    padding: 8px 10px;
    border-radius: 20px;
    font-size: 15px;
    display: none;
}

.startup-sec .box-content.reviews .copy-text button:after {
    content: "";
    position: absolute;
    top: -20px;
    right: 25px;
    width: 10px;
    height: 10px;
    background: #5c81dc;
    transform: rotate(45deg);
    display: none;
}

.startup-sec .box-content.reviews .copy-text.active button:before,
.startup-sec .box-content.reviews .copy-text.active button:after {

    display: block;
}

.register-popup .modal-title.h4 {
    padding-left: 0px;
    font-size: 20px;
}

.register-popup .modal-title.h4 span {
    padding-left: 10px;
}

.register-popup .modal-content,
.register-popup .modal-header,
.register-popup .modal-footer {
    border: 0;
}

.register-popup .modal-body h5 {
    font-size: 18px;
    font-weight: 600;
    margin-bottom: 12px;
}

.register-popup .txt-blue {
    font-size: 14px;
}

.register-popup .input-num {
    gap: 20px;
    display: flex;
    justify-content: space-between;
}

.register-popup .ince-btns {
    display: flex;
}

.register-popup .ince-btns button {
    background-color: #D0D5DD;
    border: 0;
    width: 35px;
    height: 35px;
    border-radius: 2px;
}

.register-popup .ince-btns button svg {
    color: #fff;
    font-size: 12px;
}

.register-popup .ince-btns button.active {
    background-color: #2563EB;
}

.register-popup .ince-btns input {
    width: 40px;
    text-align: center;
}

.register-popup .ince-btns input {
    border: 0;
}

.register-popup .input-num input.amount {
    width: 100px;
    border: 1.5px solid #007AFF;
    padding: 5px 10px;
    color: #000;
    border-radius: 8px;
    text-align: center;
}

.register-popup .input-num input::placeholder {
    color: #000;
}

.register-popup .desc-line {
    margin: 10px 0;
    font-size: 14px;
    color: #667085;
}

.register-popup .amt-input {
    position: relative;
}

.register-popup .amt-input .rs-icon {
    position: absolute;
}

.register-popup .total-amt {
    padding: 0 20px;
}

.register-popup .total-amt .flex {
    display: flex;
    justify-content: space-between;
}

.register-popup .modal-footer button {
    width: 48%;
    padding: 10px 10px;
}

.top-banner-two .title {
    font-size: 36px;
    font-weight: 600;
    line-height: 50px;
    color: #42307D;
    margin-bottom: 20px;
}

.top-banner-two {
    padding: 40px 30px;
    background: #f9fdff;
    border-radius: 20px;
    margin-top: 50px;
    box-shadow: 0px 0px 13px 1px #dce5f0;
}

.top-banner-two .small-heading {
    background: #f2f2f2;
    width: fit-content;
    border-radius: 20PX;
    padding: 5px 10px;
    margin-bottom: 20px;
}

.top-banner-two .small-heading span {
    color: #2563EB;
    font-weight: 600;
    font-size: 14px;
}

.top-banner-two p {
    color: var(--bright-blue);
    font-size: 16px;
    font-weight: 500;
    margin-bottom: 0;
}

.heading-one .title {
    font-size: 30px;
    margin-bottom: 40px;
}

.heading-one .view-mre svg {
    color: #2563EB;
}

.heading-one .view-mre a {
    color: #2563EB;
    text-underline-offset: 4px;
    padding-left: 10px;
}

.event-box {
    padding: 20px;
    background-color: #fff;
    box-shadow: 0px 0px 16px 2px #10182814;
    border-radius: 10px;
    height: 100%;
}

.event-box .txt-area {
    margin-top: 20px;
}

.event-box .txt-area .eve-date {
    color: #2563EB;
    font-weight: 600;
}

.event-box .txt-area .name-line {
    display: flex;
    justify-content: space-between;
    text-decoration: none;
}

.event-box .txt-area:hover .name-line h5,
.event-box .txt-area:hover .name-line svg {
    color: #2563EB;
}

.event-box .txt-area .name-line h5 {
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
    display: -webkit-box;
    overflow: hidden;
    text-overflow: ellipsis;
    color: #101828;
    font-size: 19px;
    font-weight: 600;
    transition: all .3s ease;
    margin-bottom: 20px;
    width: 100%;
}

.event-box .txt-area .name-line svg {
    color: #101828;
    font-size: 30px;
    transition: all .3s ease;
}

.event-box .txt-area .desc {
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
    display: -webkit-box;
    overflow: hidden;
    text-overflow: ellipsis;
    color: #667085;
    font-size: 13px;
}

.event-box .auth-area {
    cursor: pointer;
}

.event-box .auth-area img {
    max-width: 50px;
    border-radius: 50%;
    border: 1.5px solid #e0e0e0;
}

.event-box .auth-area span {
    font-weight: 600;
    padding-left: 15px;
}

.sm-title {
    font-size: 18px;
}

.show a.show-btn {
    font-size: 14px;
    text-decoration: none;
    color: var(--primary-blue);
    font-weight: 600;
    cursor: pointer;
}

.show svg {
    color: var(--primary-blue);
    font-size: 16px;
    text-decoration: none;
    margin: 0;
    margin-left: 5px;
}

.bg-img {
    background-image: url(../img/bg-img-invest.png);
}

.event-popup .modal-header,
.event-popup .modal-content,
.event-popup .modal-footer {
    border: 0;
}

.event-popup .modal-header span {
    padding-left: 5px;
    font-weight: 600;
    font-size: 22px;
}

.event-popup .logo-area {
    position: relative;
}

.event-popup .logo-area .map-img {
    position: relative;
}

.event-popup .logo-area img.logo-img {
    max-width: 210px;
    position: absolute;
    left: 0;
    top: 20%;
}

.event-popup .ticket-area {
    background: #F3F7FC;
    border-radius: 30px;
    padding: 0 0 0 20px
}

.event-popup .txt-ixon {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.event-popup .txt-ixon.two {
    display: block;
}

.event-popup .txt-ixon .frame-img {
    width: 50px;
    height: fit-content;
}

.event-popup .txt-ixon .tick-name h6 {
    color: #3B435399;
    font-size: 12px;
    font-weight: 600;
}

.event-popup .txt-ixon .tick-name p {
    color: #3B4353;
    font-size: 12px;
    word-break: break-all;
}

.event-popup hr {
    border-top: 2px solid;
}

.event-popup .b-right {
    border-right: 1px dashed #999;
}

.event-popup .name {
    padding-right: 30px;
}

.event-popup .name h5 {
    color: #003777;
    margin-bottom: 0;
    font-weight: 600;
    font-size: 16px;
}

.event-popup .bg-blue {
    background-color: var(--primary-blue);
    height: 100%;
    border-bottom-right-radius: 20px;
    border-top-right-radius: 20px;
    align-content: center;
}

.event-popup .bg-blue .vert-txt {
    writing-mode: vertical-lr;
    transform: rotate(180deg);
    color: #fff;
    font-size: 20px;
    letter-spacing: 1px;
    width: 100%;
    margin: 0;
    align-content: center;
}

.event-popup .modal-content {
    padding: 10px;
}

.event-popup .modal-lg {
    --bs-modal-width: 940px;
}

.event-popup .txt-blue {
    color: var(--bright-blue);
    font-size: 16px;
    text-decoration: none;
    border-bottom: 2px solid;
    font-weight: 600;

    display: block;

}


.showcase {
    width: 100%;
    height: 350px;
    overflow: hidden;
    position: relative;
    color: white;
    text-align: center;

  }
  


.showcase img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 99;
}

.showcase .overlay {
    width: 100%;
    height: 100%;
    background-color: #002078db;
    position: absolute;
    top: 0;
    left: 0;
    z-index:999
  }
  .showcase .content{
    position: relative;
    height: 100%;
  }
  .showcase h2 {
    margin-top: 170px;
    font-size: 3em;
  }
  
  .showcase p {
    margin-top: 8px;
    font-size: 1.2em;
  }

  .showcase .content h5 {

    z-index: 999
}

.showcase h2 {
    margin-top: 170px;
    font-size: 3em;
}

.showcase p {
    margin-top: 8px;
    font-size: 1.2em;
}

.showcase .content h5 {

    font-size: 30px;
    font-weight: 500;
    line-height: 36px;
}

.showcase .content h3 {
    font-size: 40px;
    position: absolute;
    color: #ffffffda;
    display: flex;
    text-align: center;
    bottom: 0;
    width: 100%;
    place-content: center;
}


.col-card h5 {
    color: var(--bright-blue);
    font-size: 14px;
    font-weight: 600;
    line-height: 20px;
    text-align: left;
    margin-top: 20px;
}
.bhDiv{
    display: flex;
    align-items: center;
    gap: 30px;
    position: absolute;
    bottom: 10px;
}
.bhDiv img{
    width: 40px;
height: 40px;
gap: 0px;
border: 0.45px 0px 0px 0px;
opacity: 0px;
}
.bhDiv h6{
font-size: 14px;
font-weight: 500;
/* line-height: 20px; */
margin-bottom: 0px !important;
text-align: left;
}
.color-grey{
    color: #3B4353;
}
.color-sky{
    color: var(--bright-blue);
    text-decoration: underline;
    margin-bottom: 0px !important;
}
.mb-0{
    margin-bottom: 0px;
}
.bg-img{
    background-image: url("../img/scottbelsky.png");
    background-blend-mode: color-burn;
    background-color: rgb(75 0 253 / 50%);
}
.br-20{
    border-radius: 20px;
}
.speaker-card{
    height: 350px;
    position: relative;
    /* padding: 20px; */
    box-shadow: 0px 12px 16px -4px #10182814;
}
.speaker-card img{
    height: 100%;
    object-fit: cover;
    object-position: top;
}
.relative-img{
    position: relative;
}
.relative-img .text {
    position: absolute;
    bottom: 0px;
    background-color: var(--primary-blue);
    width: 100%;
    
    font-weight: 600;
    color: #ffffff;
    padding: 10px 0px 10px 20px;
}

.img-sec img {
    max-height: 350px;
    object-fit: cover;
}

.img-sec .bg-img1 {
    background: #fff;
    height: 100%;
    align-content: center;
}
.speaker-card-div {
    position: absolute;
    bottom: 0px;
    background-color: var(--primary-blue);
    width: calc(100% - 0px);
    left: 0px;
    display: flex;
    align-items: center;
    font-weight: 600;
    color: #ffffff;
    padding: 10px 0px 10px 20px;
    /* margin-left: 20px; */
    margin-right: 20px;
}
.font-sm{
    font-size: 12px;
    font-weight: 500;
    color: #FFFFFFCC;
}
.hello{
    display: flex;
    gap: 30px;
    justify-content: center;
}
.hello img {
    width: 100%;
}


.css-13cymwt-control {
    background-color: #f7fafe !important;
   border-radius: 6px !important;
   border-width: 0px !important;
}

.no-style {
    color: var(--bright-blue);
    background: transparent;
    border: none;
}

.no-style:hover {
    color: var(--bright-blue);
    background: transparent;
    border: none;
}

.dropdown-item.active, .dropdown-item:active {
    color: var(--bs-dropdown-link-active-color);
    text-decoration: none;
    background-color: var(--bs-dropdown-link-hover-bg);;
}

.soon {
    font-size: 40px;
    align-content: center;
    font-weight: 600;
    text-align: center;
}
.w-sm{
    width: 80%;
}

.iframe-map  iframe{
    margin-top: 20px;
}

a.no-design {
    text-decoration: none;
    color: inherit;
}

.pitcher-card-a{
    text-decoration: none;
    color: #041e66db;
}

.pitcher-card-a svg{
    font-size: 25px;
}
.pitcher-card-div{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.contact-sec{
    padding: 0;
}

.padding-right {
    padding-right: 160px;
}

.text-gray{
    color: #667085;
}

/* .slick-slider {
    height: 160px;
}

.slick-list ,
.slick-track ,
.slick-initialized .slick-slide {
    height: 100%;
}

.adjust-height {
    height: 100%;
    aspect-ratio: 1;
} */