@import url('https://fonts.googleapis.com/css?family=Inter');
:root{
    --light-blue:#F4F9FE;
    --dark-black: #18181B;
    --primary-blue: #003777;
    --bright-blue:#2563EB;

    /* --speaker-btn-primary : #FF8C5E;
    --speaker-btn-secondary : #FFB397; */
  }
  

body {
    font-family: 'Inter';
}

.header {
    padding: 20px 0;
}

.header .logo-header {
    max-width: 200px;
}

.header .menubar {
    display: flex;
    align-items: center;
}

.header .menubar.left {
    justify-content: right;
}

.header .menubar ul.navbar-item {
    display: flex;
    list-style: none;
    margin: 0;
    padding: 0;
}

.header .menubar ul.navbar-item li {
    padding: 0 10px;
}

.header .menubar ul.navbar-item li a {
    color: #000;
    text-decoration: none;
    font-weight: 600;
    font-size: 14px;
}

.header .menubar ul.navbar-item-left {
    display: flex;
    list-style: none;
    margin: 0;
    padding: 0;
}

.header .menubar ul.navbar-item-left li {
    padding: 0 10px;
}

.header .menubar ul.navbar-item-left li:not(:last-child) {
    border-right: 2px solid #000;
}

.header .menubar ul.navbar-item-left li a {
    color: #000;
    text-decoration: none;
    font-weight: 600;
    font-size: 14px;
}

.header .menubar ul.navbar-item-left li a svg {
    color: #a81a1a;
    margin-right: 5px;
    font-size: 16px;
}
.header .theme-btn{
    padding: 5px 10px;
}
.theme-btn {
    color: #fff;
    background: #003777;
    border: 2px solid #003777;
    padding: 10px 35px;;
    border-radius: 10px;
    transition: 0.05s ease all;
}

button.theme-btn:hover {
    background: #fff;
    color: #003777;
    border: 2px solid #003777;
}

button.theme-btn-light {
    background: #fff;
    color: #003777;
    border: 2px solid #003777;
    padding: 10px 35px;
    border-radius: 10px;
    transition: 0.05s ease all;
}

button.theme-btn-light:hover {
    color: #fff;
    background: #003777;
    border: 2px solid #003777;
}

.top-banner {
    padding: 50px 0;
}

.subheading {
    color: #7a7a7a;
    font-size: 18px;
    margin-bottom: 20px;
}

.banner-text {
    color: #000;
    font-weight: 700;
    font-size: 50px;
    padding: 0 80px;
    margin-bottom: 40px;
}

.gradient {
    display: inline-block;
    background-image: url('../img/blur-bg.png');
    background-size: cover;
    background-position: center;
}

.banner-btns {
    display: flex;
    justify-content: center;
    gap: 30px;
}

.p-relative{
    position: relative;
}
.play-btn {
    position: absolute;
    background-image: url('../img/play.png');
    display: block;
    height: 100px;
    width: 100px;
    background-size: cover;
    top: 43%;
    left: 45%;
}

.video-area {
    background-repeat: no-repeat;
    display: inline-block;
    background-image: url('../img/gradient-bg.png');
    background-size: contain;
    background-position: center;
}
.light-bg{
    background-color: #F4F9FE;
}
.padding-sec{
padding: 70px 0;
}

.title {
    font-size: 40px;
    font-weight: 600;
    margin-bottom: 20px;
}

.box svg , .box img{
    color: #000;
    font-size: 40px;
    margin-bottom: 20px;
}

.box h4{
    font-size: 24px;
    line-height: 28px;
    font-weight: 600;
}

.box p {
    color: #2563EB;
    font-size: 13px;
    font-weight: 600;
line-height: 28px;
}

.counter-box {
    position: relative;
    display: inline-block;
    padding: 10px;
    border: 2px solid transparent; /* Transparent border to show the gradient */
    background: linear-gradient(white, white) padding-box, 
                linear-gradient(98.24deg, #6DDCFF 0%, #7F60F9 100%) border-box;
    border-radius: 10px; /* Optional: Adjust based on your needs */
    width: 100%;
    height: 100%;
    align-content: center;
    text-align: center;
  }

  .count h3 {
    color: #003777;
    font-weight: 800;
    font-size: 50px;
}
.count p {
background: #3B4353;
}
hr.gradient-line {
    border: none;
    height: 2px; 
    background: linear-gradient(98.24deg, #6DDCFF 0%, #7F60F9 100%);
    margin: 20px 0;
    opacity: 1;
  }

  .count.border-right{
    border-right: 2px solid transparent; /* Transparent border to show the gradient */
    background: linear-gradient(white, white) padding-box, linear-gradient(100.24deg, #6DDCFF 95%, #7F60F9 100%) border-box
  }
  .para {
    /* font-family: Inter; */
    font-size: 17px;
    font-weight: 400;
    line-height: 29.7px;
    text-align: left;
}

.container-bg {
    background-color: var(--light-blue);
    /* width: Fill (1,920px)px; */
/* height: 710px; */
/* padding: 80px 120px ;
gap: 24px; */
/* opacity: 0px; */

}

.col-card {
    background-color: #F1F5F9;

    box-shadow: 2px 4px 28px 0px #D5E3F1;
    border-radius: 20px;
    padding: 21px;

}
.col-card h3 {
   
    font-size: 23px;
    font-weight: 700;
    line-height: 32px;
   
    color: var(--primary-blue);    
}

.col-card p {
    font-size: 14px;
    font-weight: 400;
    line-height: 23px;
    height: 66px;
}
.margin-between {
    margin-right: 120px;
}

.yellow-bg{
    background: #FDE193;

}

.para-custom {
    color: #3B4353;
    font-size: 17px !important;
    line-height: 27px;
    margin-bottom: 20px;
}

.col-card2 {
    background-color: white;
    box-shadow: 2px 4px 28px 0px #D5E3F1;
    border-radius: 20px;
    padding: 21px;
}
.col-card2 p {
    color: var(--bright-blue);
    font-weight: 600;
    font-size: 23px;
    margin-bottom: 2px;
}

.col-card2 h4 {
    font-size: 21px;
    letter-spacing: 0px;
}
.check {
    font-size: 20px;
    color: var(--bright-blue);
}
.row-gap {
gap: 60px;
}

.font-blue{
    color: var(--bright-blue);
}

.sfg {
font-size: 24px;
font-weight: 600;
letter-spacing: -0.20000000298023224px;
}

.sfg h3 {
    line-height: 60px;
}


.border-custom {
    position: relative;
    /* padding-bottom: 10px; Optional: Adjust padding based on your design */
  }
  
  .border-custom::after {
    content: "";
    position: absolute;
    left: 0;
    bottom: 0;
    width: 100%;
    height: 1.3px; /* Adjust this to change border thickness */
    background: linear-gradient(90deg, rgba(174, 174, 193, 0.8) 0%, rgba(82, 82, 91, 0.8) 47.5%, rgba(174, 174, 193, 0.8) 100%);
  }


.outer-border {
    border-right: 1.2px solid #52525BCC;
    border-left: 1.2px solid #52525BCC;
    /* border: 0.69px solid #52525BCC */
}

.dark-bg {
    background-color: var(--primary-blue);
}

.w-70 {
    width: 70%;
}
 
.nav-tabs-custom {
    border-bottom: 1px solid #e9ebec;

    .nav-item {
        position: relative;

        .nav-link {
            border: none;
            font-weight: 500;
            color: var(--dark-black);

            &::after {
                content: "";
                background: var(--bright-blue);
                height: 1px;
                position: absolute;
                width: 100%;
                left: 0;
                bottom: 0;
                transition: all 250ms ease 0s;
                transform: scale(0);
            }

            &.active {
                background: transparent;
                color: var(--bright-blue);

                &:after {
                    transform: scale(1);
                }
            }
        }
    }

    &.card-header-tabs {
        margin-top: -1rem;

        .nav-link {
            padding: 20px;
        }
    }
}


.bg-light {
    background: #F8FAFC !important;
    border: 1.2px solid #CBD5E1 !important
}

.f-13{
    font-size: 13px;
}

.form-padding {
    padding: 0px 130px 0px 70px;

}

.f-15{
    font-size: 15px;
}

.form-control {
    line-height: 2 !important;
    font-size: 14px;
}

.text-muted-grey {
    /* //styleName: Text md/Normal; */
    /* font-family: Inter; */
    font-size: 12px;
    font-weight: 400;
    line-height: 24px;
    text-align: left;
    color: #667085;

    
}

.form-img{
    max-height: 100vh;
    width: 100%;
    object-fit: cover;
    position: sticky;
    top: 0;
    object-position: bottom;
}

.register-btn {
 background-color: var(--primary-blue);
 color: white;
 padding: 10px 35px;
 width: 100%;
 border:none
}

.register-bg {
    background: #F4FAFF;
}